<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037798863234-gaa2eu31e1bsqgmo7am1c39k0e79i0u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037798863234-gaa2eu31e1bsqgmo7am1c39k0e79i0u3</string>
	<key>API_KEY</key>
	<string>AIzaSyCwt6RBzQO94PYaUIyFaYTLlZixpDFKGZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>1037798863234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivanradojcic.Socialcademy</string>
	<key>PROJECT_ID</key>
	<string>socialcademy-e4cc6</string>
	<key>STORAGE_BUCKET</key>
	<string>socialcademy-e4cc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037798863234:ios:90f5433e5241044e7b9f9b</string>
</dict>
</plist>